DATABASE_URL=mysql://USUARIO:SENHA@HOST:PORTA/defaultdb
DATABASE_CA="-----BEGIN CERTIFICATE-----\nCERTIFICADO_CA_DO_AIVEN\n-----END CERTIFICATE-----"
JWT_SECRET=GERADO_AUTOMATICAMENTE_PELO_RENDER
FRONTEND_URL=https://seu-frontend.vercel.app
